<table class="table table-success">
  <tr>
      <th scope="col" class="danger text-center status">
        <%= link_to 'Product Available', controller: 'admin/products' %>
      </th>
      <th scope="col" class="info text-center status">
        <%= link_to 'Category Available', controller: 'admin/products' %>
      </th>
  </tr>
  <tbody>
    <tr>
      <td class="success text-center status"><%= @product_count %></td>
      <td class="warning text-center status"><%= @category_count %></td>
    </tr>
  </tbody>
</table>